@{
    ViewData["Title"] = "About Trackity";
}

<div class="jumbotron">
    <h2 class="col-sm-12 text-center">Everything to know about Trackity!</h2>
    <img src="~/Images/Trackity-logos_transparent.png" alt="Official transparent Trackity logo" class="col-sm-6 rounded-circle img-fluid mx-auto d-block mt-3 mb-3" />
    <div class="col-sm-12">
        <p>
            Trackity was founded during Late Summer in 2021.
            The idea was to build an application to track expenses and all different types of ways.
            As of right now Trackity is only available in the United States, but future version might make it possible to move worldwide.
        </p>
        <p>
            Trackity is the idea application for ordinary people to track their expenses.
            It is easy to understand and simple to follow.
            Not only is Trackity simple it is also completely free!
        </p>
    </div>
</div>
