@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Trackity</h1>
    <p>
        <img src="~/Images/Trackity-logos.jpeg" alt="Trackity motto" style=" float:left; width:50%;" class="rounded-circle img-fluid" />
    </p>
    <h3>Accurately track and acknowledge expenses of all types!</h3>
</div>
<div>
    <blockquote class="blockquote blockquote-quote">
        <p class="blockquote-text">
            <span class="quote">&#8221;</span> Using this application has made my life so much easier! <span class="quote">&#8221;</span>
        </p>
        <p class="blockquote-text author">Brandon Bode</p>
    </blockquote>
</div>
