@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The following site complies with almost none of the privacy policies. Your information will most likely not be sold. If there are any questions about our privacy policy please contact us.</p>
